<h1 class="showHand display-1 text-center" style="color: white;">Welcome!</h1>

<h1 class="display-3" style="color: white; padding-left: 30px; padding-right: 80px;">Purpose:</h1><br>

<h1 style="color: white; padding-left: 50px; padding-right: 30px;">In this project, I created a fullstack program using
  MySql to talk to a Java program in order to pull out data which then is displayed to the user using Angular. This
  experience simulates a website owner/event planner to set up gaming events where players can compete with eachother
  for a prize, or host speed runs of games with a prize for the fastest speed runner.</h1><br><br>

  <h1 class="display-3 text-center" style="color: white;">Enjoy.</h1>

